<?xml version='1.0' encoding='utf-8'?>
<widget id="com.suijia.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>溯佳</name>
  <description>开发助手</description>
  <content src="index.html" />
  <preference name="AndroidXEnabled" value="true" />
  <platform name="android">
    <icon src="www/icon.png" density="ldpi" />
    <icon src="www/icon.png" density="mdpi" />
    <icon src="www/icon.png" density="hdpi" />
    <icon src="www/icon.png" density="xhdpi" />
    <icon src="www/icon.png" density="xxhdpi" />
    <icon src="www/icon.png" density="xxxhdpi" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
      <uses-permission android:name="android.permission.VIBRATE" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    </config-file>
  </platform>
</widget>
